/* Desktop CSS */
html{
    background-color: black;
    font-family: 'Oswald', sans-serif;
}

/* Main header CSS */
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
    padding: 50px;
    height: 200px;
}

@media (max-width: 576px){
    .heading{
        flex-direction: column;
    }
}

.blue{
    color: #1c56d2;
}

.gold{
    color: #9da519;
}

/* Button CSS */

#button-header{
    padding: 20px;
}

#jokeButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 300px;
    font-size: large;
    background-color: black;
    color: #1c56d2;
    border: #9da519 solid 2px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

#jokeButton:hover{
    background-color: black;
    color: #9da519;
    border: #1c56d2 solid 2px;
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
}


/* joke container/text CSS */

#main{
    flex-direction: column;
    background-color: black;
}

#button-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.subtext{
    display: flex;
    flex-direction: column;
}

h2 {
    justify-content: center;
    align-self: center;
}

.jokeArea{
    display: flex;
    margin-top: 50px;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    word-wrap: break-word;
    justify-content: center;
}

#joke{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    background-color: black;
    color: whitesmoke;
}

