/* Desktop CSS */
html {
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: black;
    margin: 0;
}

#heading-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Main header CSS */
.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
}

.right-head{
    margin-right: 2px;
}

.left-head{
    margin-left: 2px;
}

/* animated border for header */
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#flashy-border {
    display: flex;
    justify-content: center;
}

.circle1 {
    background-color: #1c56d2;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    animation: blinker 2s linear infinite;
    animation-delay: 1s;
}

.circle2 {
    background-color: #9da519;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
    animation: blinker 2s linear infinite;
}

@media (max-width: 576px) {
    .heading {
        flex-direction: column;
    }

    /* Hide the desktop border and display the mobile version  */
    .circle1 {
        display: none;
    }

    .circle2 {
        display: none;
    }

    .circle3 {
        background-color: #1c56d2;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 10px;
        animation: blinker 2s linear infinite;
        animation-delay: 1s;
    }

    .circle4 {
        background-color: #9da519;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 10px;
        animation: blinker 2s linear infinite;
    }
}

.blue {
    color: #1c56d2;
}

.gold {
    color: #9da519;
}

/* Button/button div CSS */

#button-header {
    padding: 20px;
    text-align: center;
}

#jokeButton {
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-size: large;
    background-color: black;
    color: #1c56d2;
    border: #9da519 solid 2px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    margin-right: 20px;
}

#jokeButton:hover {
    background-color: black;
    color: #9da519;
    border: #1c56d2 solid 2px;
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
}

#submit-joke-btn {
    border-radius: 10px;
    height: 50px;
    width: 300px;
    font-size: large;
    background-color: black;
    color: #1c56d2;
    border: #9da519 solid 2px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
}

#submit-joke-btn:hover {
    background-color: black;
    color: #9da519;
    border: #1c56d2 solid 2px;
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
}

#button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.subtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-area {
    display: flex;
    flex-direction: row;
}

h2 {
    justify-content: center;
    align-self: center;
}

@media (max-width: 576px) {
    .button-area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #submit-joke-btn {
        margin-top: 20px;
    }

    #jokeButton {
        margin: auto;
    }
}

/* joke container/text CSS */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


.jokeArea {
    display: flex;
    margin-top: 50px;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    word-wrap: break-word;
    justify-content: center;
}

#joke {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    background-color: black;
    color: whitesmoke;
}

@media (max-width: 576px) {
    #main{
        justify-content: center;
        align-items: center;
        width: 300px;
    }
}

/* Submit joke form CSS */

#joke-form-container {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 40%;
    left: 34%;
    height: 200px;
    width: 500px;
    padding: 20px;
    border-radius: 16px;
    border: 2px solid #9da519;;
    background-color: #000000;
}

.joke-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textbox{
    background-color: black;
    color: whitesmoke;
    border: #1c56d2 solid 2px;
    font-family: 'Oswald', sans-serif;
    width: 450px;
    height: 100px;
}

#add-joke{
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: large;
    background-color: black;
    color: #1c56d2;
    border: #9da519 solid 2px;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    margin-top: 15px;
}

#add-joke:hover{
    background-color: black;
    color: #9da519;
    border: #1c56d2 solid 2px;
    transition: 0.4s;
    font-family: 'Oswald', sans-serif;
}

@media (max-width: 576px) {
    #joke-form-container{
        width: 300px;
        left: 10%;
    }

    .textbox{
        width: 250px;
    }
}

/* joke form animations */
@keyframes fadeIn {
    0% {opacity: 1;}
    10% {opacity: 0.9;}
    20% {opacity: 0.8;}
    30% {opacity: 0.7;}
    40% {opacity: 0.6;}
    50% {opacity: 0.5;}
    60% {opacity: 0.4;}
    70% {opacity: 0.3;}
    80% {opacity: 0.2;}
    90% {opacity: 0.1;}
    100% {opacity: 0;}
}